/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/app/(views)/home/home.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.home_container__XYCQ9 {
    width: 75vw;
    height: 100vh;

    padding: 25px;

    columns: 3;
    column-gap: 40px;
}

.home_list__jBjKS {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
}


.home_header__g0xqU {
    page-break-inside: avoid;
    break-inside: avoid;

    text-transform: uppercase;
    font-weight: 600;
    background-color: orangered;
    padding: 5px;
}

.home_user__NXF4K {
    page-break-inside: avoid;
    break-inside: avoid;

    display: grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows: 1fr;

    padding: 5px;
}
