/* .container {
    width: 85vw;
    height: 100vh;
    margin: auto;

    padding: 25px;

    columns: 3;
    column-gap: 40px;

    overflow: hidden;
}

.list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
}


.header {
    break-inside: avoid;

    text-transform: uppercase;
    font-weight: 600;
    background-color: orangered;
    padding: 5px;
}

.user {
    break-inside: avoid;

    display: grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows: 1fr;

    padding: 5px;
} */





.container {
    width: 85vh;
    height: 100vh;
    min-width: 85vh;
    min-height: 100vh;
    margin: auto;
    box-sizing: border-box;

    overflow: hidden;
}


.list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    
    background-color: green;
}